<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar medicos....." (keyup)="BuscarMedico(valor.value)" #valor>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="alert alert-primary text-center" role="alert">
            <i class="fa fa-spin fa-refresh fa-2x"></i> Cargando...
        </div>
    </div>
</div>
<div *ngIf="!cargando" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medicos</h4>
                        <h6 class="card-subtitle">Medicos ingresados en la aplicacion - ({{medicos.length}})</h6>
                    </div>
                    <div class="col text-right">
                        <a routerLink="/medico/Nuevo">
                            <button class="btn btn-primary">
                                <i class="fa fa-user-md">
                                </i> Crear Medico 
                            </button>
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center">
                                    <img [src]="medico.img | imagenUrl: 'medicos'" class="img-fluid rounded avatar cursor" alt="" (click)="cambiarImagen(medico)">
                                </td>
                                <td>{{medico.nombre}}</td>
                                <td class=" text-nowrap ">
                                    <a [routerLink]="['/medico', medico.uid]" data-toggle="tooltip " data-original-title="Edit "> <i class="fa fa-pencil text-inverse m-r-10 "></i> </a>
                                    <a data-toggle="tooltip " data-original-title="Borrar "> <i class="fa fa-close text-danger cursor " (click)="eliminarMedico(medico)"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-secondary mr-1 ">Anterior</button>
                <button class="btn btn-secondary ">Siguiente</button>
            </div>
        </div>
    </div>
</div>